@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    /* colors */
    --primary-black: #202020;
    --primary-blue: #0578ff;
    --white: #fff;
    --primary-grey: #90a3bf;
    --good-yellow: #ffc501;
    --bg-gray: #f5f5f5;

    /* font custom property */
    --font-family: "Poppins", sans-serif;
}

body {
    font-family: var(--font-family);
}

.wrapper {
    width: 1312px;
    margin: 0 auto;
}

/* header */
.header {
    display: flex;
    justify-content: space-between;
}

.logos {
    margin: 32.5px 64px;
}

.menu {
    display: flex;
    margin: 43px 64px;
    gap: 96px;
}

.menu a {
    text-decoration: none;
    color: var(--primary-black);
    font-size: 20px;
    letter-spacing: 0%;
}

/* section - achievement */
#achievemetns {
    background-color: var(--primary-blue);
    color: var(--white);
    padding: 59.5px 0;
}

#achievemetns > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#achievemetns > div > div > p {
    text-align: center;
}

#achievemetns > div > div > p:first-child {
    font-size: 50px;
    font-weight: 700;
}

#achievemetns > div > div > p:last-child {
    font-size: 20px;
    font-weight: 500;
}

