@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    /* colors */
    --primary-black: #202020;
    --primary-blue: #0578ff;
    --white: #fff;
    --primary-grey: #90a3bf;
    --good-yellow: #ffc501;
    --bg-gray: #f5f5f5;

    /* font custom property */
    --font-family: "Poppins", sans-serif;
}

body {
    font-family: var(--font-family);
}

.wrapper {
    width: 1312px;
    margin: 0 auto;
}

/* header */
.header {
    display: flex;
    justify-content: space-between;
}

.logos {
    margin: 32.5px 64px;
}

.menu {
    display: flex;
    margin: 43px 64px;
    gap: 96px;
}

.menu a {
    text-decoration: none;
    color: var(--primary-black);
    font-size: 20px;
    letter-spacing: 0%;
}

/* section - tickets */
#tickets {
    display: flex;
    justify-content: space-between;
}

#tickets .wrapper {
    display: flex;
    justify-content: space-between;
}

.ticket {
    width: 640px;
    margin: 64px 0 182px 0;
}

.ticket > h1 {
    font-size: 64px;
    font-weight: 700;
    font-style: bold;
    line-height: 100%;
    letter-spacing: 0%;
    text-transform: capitalize;
    margin-bottom: 32px;
}

.ticket > p {
    font-size: 16px;
    font-style: normal;
    line-height: 100%;
    letter-spacing: 0%;
    margin: 32px 32px 32px 0px;
}

.counter {
    display: flex;
    justify-content: space-between;
    margin-left: 24px;
    margin-right: 24px;
}

.counter label {
    font-size: 14px;
    font-style: normal;
    line-height: 100%;
    letter-spacing: 0%;
    color: var(--primary-black)
}

.image {
    height: 704px;
    margin-top: 64px;
}

/*grid - departure, arrival, pick your lucky day, button*/
.grid-flight {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    column-gap: 32px;
    row-gap: 24px;
}

.location {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    column-gap: 32px;
}

.location > label, input {
    border: none;
}

.location label {
    font-size: 16px;
    font-style: semi-bold;
    font-weight: 600;
    line-height: 150%;
    letter-spacing: 0%;
}

.location > input {
    padding-top: 16px;
}

.date {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 32px;
}

.date > label, input {
    border: none;
}

.date label {
    grid-column: span 2;
    font-size: 16px;
    font-style: semi-bold;
    line-height: 150%;
    letter-spacing: 0%;
    font-weight: 600;
}

.date input {
    padding-top: 16px;
}

.find-ride button {
    width: 100%;
    background-color: var(--primary-blue);
    color: var(--white);
    padding: 16px 24px;
    gap: 10px;
    border-radius: 10px;
    border: none;
    font-size: 20px;
    font-weight: 700;
    font-style: bold;
    line-height: 100%;
    letter-spacing: 0%;
    text-transform: capitalize;
}

/* section - achievement */
#achievemetns {
    background-color: var(--primary-blue);
    color: var(--white);
    padding: 59.5px 0;
}

#achievemetns > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#achievemetns > div > div > p {
    text-align: center;
}

#achievemetns > div > div > p:first-child {
    font-size: 50px;
    font-weight: 700;
}

#achievemetns > div > div > p:last-child {
    font-size: 20px;
    font-weight: 500;
}

/* section - grid - gallery */
.grid-gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.grid-gallery img:first-child {
    grid-row: span 2;
}