@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    /* COLORS */
    --primary-black: #202020;
    --primary-blue: #0578ff;
    --white: #fff;
    --primary-grey: #90a3bf;
    --good-yellow: #ffc501;
    --bg-gray: #f5f5f5;

    /* FONT CUSTOM PROPERTY */
    --font-family: "Poppins", sans-serif;
}

body {
    font-family: var(--font-family);
    background: linear-gradient(
        to top,
        #F5F5F5 0%,
        #DDECFF 50%,
        #F5F5F5 100%
    );
}

.wrapper {
    width: 1312px;
    margin: 0 auto;
}

/* HEADER */
/* .header {
    display: flex;
    justify-content: space-between;
}

.logos {
    margin: 32.5px 64px;
}

.menu {
    display: flex;
    margin: 43px 64px;
    gap: 96px;
}

.menu a {
    text-decoration: none;
    color: var(--primary-black);
    font-size: 20px;
    letter-spacing: 0%;
} */

/*HEADER 2*/
.header {
    padding: 32.5px;
}

.header > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header > div > img:nth-child(2) {
    display: none;
}

.header > div > img:last-child {
    display: none;
}

.header ul {
    display: flex;
    list-style: none;
    gap: 96px;
    font-size: 20px;
}

.header ul > li:last-child {
    font-weight: 600;
    cursor: pointer;
}

.header a {
    text-decoration: none;
    color: var(--primary-black)
}

/* SECTION TICKETS */
/* #tickets {
    display: flex;
    justify-content: space-between;
}

#tickets .wrapper {
    display: flex;
    justify-content: space-between;
}

.ticket {
    width: 640px;
    margin: 64px 0 182px 0;
}

.ticket > h1 {
    font-size: 64px;
    font-weight: 700;
    font-style: bold;
    line-height: 100%;
    letter-spacing: 0px;
    text-transform: capitalize;
    margin-bottom: 32px;
}

.ticket > p {
    font-size: 16px;
    font-style: normal;
    line-height: 100%;
    letter-spacing: 0%;
    margin: 32px 32px 32px 0px;
}

.counter {
    display: flex;
    justify-content: space-between;
    margin-left: 24px;
    margin-right: 24px;
}

.counter label {
    font-size: 14px;
    font-style: normal;
    line-height: 100%;
    letter-spacing: 0px;
    color: var(--primary-black)
}

.image {
    height: 704px;
    margin-top: 64px;
} */

/* SECTION TICKETS */
#tickets {
    padding-top: 64px;
    padding-bottom: 128px;
}

#tickets > div {
    display: flex;
    justify-content: space-between;
    gap: 32px;
}

#tickets > div > div {
    width: 640px;
    display: flex;
    flex-direction: column;
    gap: 32px;
} 

#tickets > div > div > h1 {
    font-size: 64px;
    font-weight: 700;
    color: var(--primary-black);
}

#tickets form {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

#tickets .counter_block {
    display: flex;
    color: var(--primary-grey);
    gap: 8px;
}

#tickets .counter_block > div {
    display: flex;
    gap: 10px;
}

#tickets form > div:first-child {
    background-color: var(--white);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 7px 24px;
    border-radius: 10px;
} 

#tickets form > div:nth-child(2) input,
#tickets form > div:nth-child(3) input {
    padding: 16px 40px 16px 24px;
    border-radius: 10px;
    border: none;
    width: 304px;
}

#tickets form > div:nth-child(2) {
    display: flex;
    justify-content: space-between;
    font-weight: 600;
}

#tickets form > div:nth-child(2) label {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

#tickets form > div:nth-child(3) {
    font-weight: 600;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

#tickets form > div:nth-child(3) > div {
    display: flex;
    gap: 32px;
}

#tickets form > button {
    width: 640px;
    background-color:var(--primary-blue);
    color: var(--white);
    border: none;
    border-radius: 10px;
    font-weight: 700;
    font-size: 20px;
    padding: 16px 0;
    cursor: pointer;
} 

#tickets > div > img {
    width: 640px;
    height: 704px;
    object-fit: contain;
}

/*GRID - DEPARTURE, ARRIVAL, PICK YOUR LUCKY DAY, BUTTON*/
.grid-flight {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    column-gap: 32px;
    row-gap: 24px;
}

.location {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    column-gap: 32px;
}

.location > label, input {
    border: none;
}

.location label {
    font-size: 16px;
    font-style: semi-bold;
    font-weight: 600;
    line-height: 150%;
    letter-spacing: 0px;
}

.location > input {
    padding-top: 16px;
}

.date {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 32px;
}

.date > label, input {
    border: none;
}

.date label {
    grid-column: span 2;
    font-size: 16px;
    font-style: semi-bold;
    line-height: 150%;
    letter-spacing: 0px;
    font-weight: 600;
}

.date input {
    padding-top: 16px;
}

.find-ride button {
    width: 100%;
    background-color: var(--primary-blue);
    color: var(--white);
    padding: 16px 24px;
    gap: 10px;
    border-radius: 10px;
    border: none;
    font-size: 20px;
    font-weight: 700;
    font-style: bold;
    line-height: 100%;
    letter-spacing: 0px;
    text-transform: capitalize;
}

/* SECTION GALLERY */
h3 {
    font-weight: 700;
    font-size: 64px;
}

#gallery {
    padding: 128px 0;
}

#gallery > div {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

#gallery > div > div {
    display: grid;
    grid-template-columns: 528px 305px 416px;
    grid-template-rows: 376px 88px 264px;/*88px how did we get*/
    row-gap: 24px;
    column-gap: 32px;
}

#gallery > div > div > img {
    border-radius: 10px;
}

#gallery > div > div > img:first-child {
    grid-column: 1;/*occupies column 1*/
    grid-row: 2 / 3;
}

#gallery > div > div > img:nth-child(2) {
    grid-column: 2;/*occupies column 2*/
    grid-row: 1 / 3;
}

#gallery > div > div > img:nth-child(3) {
    grid-column: 3;/*occupies column 3*/
    grid-row: 1 / 3;
}

#gallery > div > div > img:last-child {
    grid-row: 3;/*occupies column 3*/
    grid-column: 2 / span 2;
}

#gallery .wrapper h3 {
    font-weight: 700;
    font-size: 64px;
    line-height: 100%;
    letter-spacing: 0px;
    color: var(--primary-black);
    align-items: center;
    text-transform: capitalize;
    margin: 128px 0 24px 0;
}

/* SECTION ACHIEVEMENTS */
#achievements {
    background-color: var(--primary-blue);
    color: var(--white);
    padding: 59.5px 0;
}

#achievements > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#achievements > div > div > p {
    text-align: center;
}

#achievements > div > div > p:first-child {
    font-size: 50px;
    font-weight: 700;
}

#achievements > div > div > p:last-child {
    font-size: 20px;
    font-weight: 500;
}

/*SECTION APPS*/

.container {
    display: flex;
    width: 100%;
    height: 462px;
    background-color: var(--good-yellow);
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container h5 {
    text-align: center;
    font-weight: 700;
    font-size: 62px;
    line-height: 100%;
    letter-spacing: 0px;
    color: var(--primary-black);
    margin-bottom: 60px;
}

.images {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 125px;
    justify-content: center;
}

/*SECTION FAQs*/
#faqs {
    height: auto;
    margin: 136px auto 128px auto;
}

#faqs .wrapper {
    width: 1086px;
    display: flex;
    flex-direction: column;
    gap: 16px
}

#faqs > .wrapper > details > summary {
    cursor: pointer;
    font-weight: 500;
    font-size: 18px;
    line-height: 120%;
    letter-spacing: 0px;
    color: var(--primary-black);
    list-style: none;
}

#faqs > .wrapper > details > p {
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0px;
    color: var(--primary-black);
    list-style: none;
}

#faqs details[open] summary::after {
    content: "x";
    font-size: 20px;
    color: var(--primary-black);
    float: right;
}

#faqs summary::after {
    content: "+";
    font-size: 20px;
    color: var(--primary-black);
    float: right;
}

#faqs details {
    border-bottom: 1px solid var(--primary-black, 50%);
}

/*SECTION CONTACTS*/
#contacts {
    margin-bottom: -268px;
}

#contacts .wrapper {
    position: relative;
    z-index: 1;
    background-color: var(--white);
    width: 640px;
    height: 397px;
    padding: 60px 0;
    border: 1px solid rgba(32, 32, 32, 0.5);
    border-radius: 10px;
    gap: 10px;
}

#contacts > div > h2 {
    font-size: 64px;
    font-weight: 700;
    text-align: center;
}

#contacts > div > p:nth-child(2) {
    font-size: 28px;
    text-align: center;
}

#contacts > div > p:nth-child(3) {
    font-size: 28px;
    text-align: center;
}

#contacts > div > p:nth-child(4) {
    font-size: 18px;
    text-align: center;
}

#contacts > div > p:last-child {
    font-size: 18px;
    text-align: center;
}

.distance {
    padding-bottom: 30px;
}

/*FOOTER*/
#footer {
    background-color: var(--primary-blue);
    padding-top: 332px;
    padding-bottom: 164px;

}
#footer > div {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 192px;
}

.footer-left {
    display: flex;
    flex-direction: column;
    width: 600px;
    align-items: start;
    gap: 32px;
}

.footer-left img {
    filter: brightness(0) invert(1);
    font-size: 34px;
    letter-spacing: 0;
    line-height: 100%;
}

.footer-right {
    display: flex;
    width: 640px;
    gap: 32px;
}

.footer-right > div {
    display: flex;
    flex-direction: column;
    width: 192px;
    gap: 16px;
}

.copyright {
    width: 100%;
    color: var(--white);
    font-size: 16px;
    font-weight: 600;
    letter-spacing: -2%;
    line-height: 150%;
    padding-top: 40px;
}

.footer-right h6 {
    color: var(--white);
    font-size: 20px;
    font-weight: 600;
    letter-spacing: -2%;
    line-height: 150%;
}

.footer-right p {
    color: var(--white);
    font-size: 16px;
    letter-spacing: -2%;
    line-height: 150%;
}

/*MEDIA QUERY*/
/*TABLET SCREEN*/
@media (max-width: 1312px) {
    .wrapper {
        width: 704px;
    }
    /*HEADER*/
    .header > div > img:last-child {
        display: inline;
    }

    .header nav {
        display: none;/*hides menu, shows burger menu instead*/
        background-color: var(--primary-blue);
        color: var(--white);
        padding: 64px 20px;
        /*overlays full page below header*/
        position: absolute;
        top: 116px;
        left: 0;
        width: 100%;
    }

    .header ul {
        flex-direction: column;
        font-size: 48px;
    }

    .header a {
        color: var(--white);
    }

    /*TICKETS*/
    #tickets > div > img {
    display: none;
}

    /*ACHIEVEMENTS*/
    #achievements > div {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 105px);
        row-gap: 40px;
    }

    /*GALLERY*/


    /*APPS*/
    .images {
        gap: 30px 49px;
    }

    .images > a:first-child {
        width: 100%;
        text-align: center;
    }

    .container h5 {
        font-size: 40px;
    }

    /*FAQs*/
    #faqs .wrapper {
        width: 768px;
    }

    /*CONTACTS*/


    /*FOOTER*/
    #footer-right {
        align-items: center;
    } 
    
    #footer > div > div > img {
        margin-bottom: 40px;
    }
}

/*MOBILE SCREEN*/
@media (max-width: 704px) {
    .wrapper {
        width: 320px;
    }

    /*HEADER*/
    .header > div > img:first-child {
        display: none;
    }

    .header > div > img:nth-child(2) {
        display: inline;
    }

    .header nav {
        top: 99px;
    }

    .header ul {
        font-size: 32px;
        gap: 64px;
    }


/*TICKETS*/
#tickets {
    padding-top: 24px;
}

#tickets > div > div {
    width: 100%;
} 

#tickets > div > div > h1 {
    font-size: 32px;
}

#tickets > div > div > p {
    font-size: 11px;
}

#tickets form {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

#tickets .counter_block {
    display: flex;
    gap: 10px;
    align-items: center;
    flex-direction: row;
}

#tickets .counter_block > div {
    display: flex;
    gap: 10px;
}

#tickets form > div:first-child {
    background-color: var(--white);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 7px 24px;
    border-radius: 10px;
    font-size: 12px;
} 

#tickets form > div:nth-child(2) input,
#tickets form > div:nth-child(3) input {
    padding: 16px 40px 16px 24px;
    border-radius: 10px;
    border: none;
    width: 100%;
}

#tickets form > div:nth-child(2) {
    display: flex;
    flex-direction: column;
    font-weight: 600;
    gap: 24px;
}

#tickets form > div:nth-child(2) label {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

#tickets form > div:nth-child(3) {
    font-weight: 600;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

#tickets form > div:nth-child(3) > div {
    display: flex;
    gap: 32px;
}

#tickets form > div > div {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

#tickets form > button {
    width: 320px;
} 

#tickets > div > img {
    width: 640px;
    height: 704px;
    object-fit: contain;
}


    /*ACHIEVEMENTS*/
    #achievements > div {
        row-gap: 30px;
        column-gap: 40px;
    }

    #achievements > div > div > p:first-child {
        font-size: 40px;
    }
    
    #achievements > div > div > p:last-child {
        font-size: 16px;
    }

    /*GALLERY*/
    #gallery > div {
        display: flex;
        flex-direction: column;
        gap: 24px;
    }

    #gallery > div > div {
        grid-template-columns: 1fr;
        grid-template-rows: 380px 362px 425px 225px;
        gap: 24px;
    }

    #gallery > div > div > img:first-child {
        width: 704px;
        height: 380px;
        grid-row: 1;
    }

    #gallery > div > div > img:nth-child(4) {
        width: 704px;
        height: 380px;
        grid-row: 2;
    }

    #gallery > div > div > img:nth-child(2) {
        width: 340px;
        height: 425px;
        grid-row: 3;
        grid-column: 1;
    }

    #gallery > div > div > img:nth-child(3) {
        width: 340px;
        height: 425px;
        grid-row: 3;
        grid-column: 2;
    }

    #gallery > div > div > img:last-child {
        width: 704px;
        height: 225px;
        grid-row: 4;
        grid-column: 1 / span 2;
    }

    /*APPS*/
    .images {
        gap: 30px;
    }

    .images > a:first-child {
        width: auto;
    }

    .container h5 {
        font-size: 32px;
    }

    /*FAQs*/
    #faqs .wrapper {
        width: 320px;
    }

    /*CONTACTS*/
    

    /*FOOTER*/
}


